.grid {
    display: flex;
    flex-flow: row wrap;
}

.grid [class *= "col"] {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
}

.col-1-24 {
    width: 4.1667%;
}

.col-1-12 {
    width: 8.3333%;
}

.col-1-8 {
    width: 12.5%;
}

.col-1-6 {
    width: 16.6667%;
}

.col-1-5 {
    width: 20%;
}

.col-5-24 {
    width: 20.8333%;
}

.col-1-4 {
    width: 25%;
}

.col-7-24 {
    width: 29.1667%;
}

.col-1-3 {
    width: 33.3333%;
}

.col-3-8 {
    width: 37.5%;
}

.col-2-5 {
    width: 40%;
}

.col-5-12 {
    width: 41.6667%;
}

.col-11-24 {
    width: 45.8333%;
}

.col-1-2 {
    width: 50%;
}

.col-13-24 {
    width: 54.1667%;
}

.col-7-12 {
    width: 58.3333%;
}

.col-3-5 {
    width: 60%;
}

.col-5-8 {
    width: 62.5%;
}

.col-2-3 {
    width: 66.6667%;
}

.col-17-24 {
    width: 70.8333%;
}

.col-3-4 {
    width: 75%;
}

.col-19-24 {
    width: 79.1667%;
}

.col-4-5 {
    width: 80%;
}

.col-5-6 {
    width: 83.3333%;
}

.col-7-8 {
    width: 87.5%;
}

.col-11-12 {
    width: 91.6667%;
}

.col-23-24 {
    width: 95.8333%;
}

.col-1 {
    width: 100%;
}

@media screen and (min-width: 35.5em) {
    .col-sm-1-24 {
        width: 4.1667%;
    }

    .col-sm-1-12 {
        width: 8.3333%;
    }

    .col-sm-1-8 {
        width: 12.5%;
    }

    .col-sm-1-6 {
        width: 16.6667%;
    }

    .col-sm-1-5 {
        width: 20%;
    }

    .col-sm-5-24 {
        width: 20.8333%;
    }

    .col-sm-1-4 {
        width: 25%;
    }

    .col-sm-7-24 {
        width: 29.1667%;
    }

    .col-sm-1-3 {
        width: 33.3333%;
    }

    .col-sm-3-8 {
        width: 37.5%;
    }

    .col-sm-2-5 {
        width: 40%;
    }

    .col-sm-5-12 {
        width: 41.6667%;
    }

    .col-sm-11-24 {
        width: 45.8333%;
    }

    .col-sm-1-2 {
        width: 50%;
    }

    .col-sm-13-24 {
        width: 54.1667%;
    }

    .col-sm-7-12 {
        width: 58.3333%;
    }

    .col-sm-3-5 {
        width: 60%;
    }

    .col-sm-5-8 {
        width: 62.5%;
    }

    .col-sm-2-3 {
        width: 66.6667%;
    }

    .col-sm-17-24 {
        width: 70.8333%;
    }

    .col-sm-3-4 {
        width: 75%;
    }

    .col-sm-19-24 {
        width: 79.1667%;
    }

    .col-sm-4-5 {
        width: 80%;
    }

    .col-sm-5-6 {
        width: 83.3333%;
    }

    .col-sm-7-8 {
        width: 87.5%;
    }

    .col-sm-11-12 {
        width: 91.6667%;
    }

    .col-sm-23-24 {
        width: 95.8333%;
    }

    .col-sm-1 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    .col-md-1-24 {
        width: 4.1667%;
    }

    .col-md-1-12 {
        width: 8.3333%;
    }

    .col-md-1-8 {
        width: 12.5%;
    }

    .col-md-1-6 {
        width: 16.6667%;
    }

    .col-md-1-5 {
        width: 20%;
    }

    .col-md-5-24 {
        width: 20.8333%;
    }

    .col-md-1-4 {
        width: 25%;
    }

    .col-md-7-24 {
        width: 29.1667%;
    }

    .col-md-1-3 {
        width: 33.3333%;
    }

    .col-md-3-8 {
        width: 37.5%;
    }

    .col-md-2-5 {
        width: 40%;
    }

    .col-md-5-12 {
        width: 41.6667%;
    }

    .col-md-11-24 {
        width: 45.8333%;
    }

    .col-md-1-2 {
        width: 50%;
    }

    .col-md-13-24 {
        width: 54.1667%;
    }

    .col-md-7-12 {
        width: 58.3333%;
    }

    .col-md-3-5 {
        width: 60%;
    }

    .col-md-5-8 {
        width: 62.5%;
    }

    .col-md-2-3 {
        width: 66.6667%;
    }

    .col-md-17-24 {
        width: 70.8333%;
    }

    .col-md-3-4 {
        width: 75%;
    }

    .col-md-19-24 {
        width: 79.1667%;
    }

    .col-md-4-5 {
        width: 80%;
    }

    .col-md-5-6 {
        width: 83.3333%;
    }

    .col-md-7-8 {
        width: 87.5%;
    }

    .col-md-11-12 {
        width: 91.6667%;
    }

    .col-md-23-24 {
        width: 95.8333%;
    }

    .col-md-1 {
        width: 100%;
    }
}

@media screen and (min-width: 64em) {
    .col-lg-1-24 {
        width: 4.1667%;
    }

    .col-lg-1-12 {
        width: 8.3333%;
    }

    .col-lg-1-8 {
        width: 12.5%;
    }

    .col-lg-1-6 {
        width: 16.6667%;
    }

    .col-lg-1-5 {
        width: 20%;
    }

    .col-lg-5-24 {
        width: 20.8333%;
    }

    .col-lg-1-4 {
        width: 25%;
    }

    .col-lg-7-24 {
        width: 29.1667%;
    }

    .col-lg-1-3 {
        width: 33.3333%;
    }

    .col-lg-3-8 {
        width: 37.5%;
    }

    .col-lg-2-5 {
        width: 40%;
    }

    .col-lg-5-12 {
        width: 41.6667%;
    }

    .col-lg-11-24 {
        width: 45.8333%;
    }

    .col-lg-1-2 {
        width: 50%;
    }

    .col-lg-13-24 {
        width: 54.1667%;
    }

    .col-lg-7-12 {
        width: 58.3333%;
    }

    .col-lg-3-5 {
        width: 60%;
    }

    .col-lg-5-8 {
        width: 62.5%;
    }

    .col-lg-2-3 {
        width: 66.6667%;
    }

    .col-lg-17-24 {
        width: 70.8333%;
    }

    .col-lg-3-4 {
        width: 75%;
    }

    .col-lg-19-24 {
        width: 79.1667%;
    }

    .col-lg-4-5 {
        width: 80%;
    }

    .col-lg-5-6 {
        width: 83.3333%;
    }

    .col-lg-7-8 {
        width: 87.5%;
    }

    .col-lg-11-12 {
        width: 91.6667%;
    }

    .col-lg-23-24 {
        width: 95.8333%;
    }

    .col-lg-1 {
        width: 100%;
    }
}

@media screen and (min-width: 80em) {
    .col-xl-1-24 {
        width: 4.1667%;
    }

    .col-xl-1-12 {
        width: 8.3333%;
    }

    .col-xl-1-8 {
        width: 12.5%;
    }

    .col-xl-1-6 {
        width: 16.6667%;
    }

    .col-xl-1-5 {
        width: 20%;
    }

    .col-xl-5-24 {
        width: 20.8333%;
    }

    .col-xl-1-4 {
        width: 25%;
    }

    .col-xl-7-24 {
        width: 29.1667%;
    }

    .col-xl-1-3 {
        width: 33.3333%;
    }

    .col-xl-3-8 {
        width: 37.5%;
    }

    .col-xl-2-5 {
        width: 40%;
    }

    .col-xl-5-12 {
        width: 41.6667%;
    }

    .col-xl-11-24 {
        width: 45.8333%;
    }

    .col-xl-1-2 {
        width: 50%;
    }

    .col-xl-13-24 {
        width: 54.1667%;
    }

    .col-xl-7-12 {
        width: 58.3333%;
    }

    .col-xl-3-5 {
        width: 60%;
    }

    .col-xl-5-8 {
        width: 62.5%;
    }

    .col-xl-2-3 {
        width: 66.6667%;
    }

    .col-xl-17-24 {
        width: 70.8333%;
    }

    .col-xl-3-4 {
        width: 75%;
    }

    .col-xl-19-24 {
        width: 79.1667%;
    }

    .col-xl-4-5 {
        width: 80%;
    }

    .col-xl-5-6 {
        width: 83.3333%;
    }

    .col-xl-7-8 {
        width: 87.5%;
    }

    .col-xl-11-12 {
        width: 91.6667%;
    }

    .col-xl-23-24 {
        width: 95.8333%;
    }

    .col-xl-1 {
        width: 100%;
    }
}
