html {
    font-family: "Open Sans", sans-serif;
}

body {
    color: #777;
    line-height: 1.6;
    margin: 0;
}

.header {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.header .logo {
    padding: 1em;
}

.header h2 {
    margin: 0;
    color: #214c83;
}

.content {
    margin: auto;
    padding: 0 1em;
    max-width: 1024px;
}

.content h1 {
    font-weight: 300;
    color: #666;
}

.paragraphs {
    margin: 1em;
    background: #fafafa;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.paragraphs p {
    margin: 1em;
    text-align: justify;
}

#map {
    height: 512px;
}

.footer {
    border-top: 1px solid #eee;
    margin-top: 1em;
    background: #fafafa;
    text-align: center;
}
